[submodule "opensource/axmlprinter"]
	path = opensource/axmlprinter
	url = https://github.com/liyansong2018/axmlprinter.git
[submodule "opensource/python_dll_injector"]
	path = opensource/python_dll_injector
	url = https://github.com/liyansong2018/python-dll-injector.git
[submodule "opensource/QCodeEditor"]
	path = opensource/QCodeEditor
	url = https://github.com/liyansong2018/QCodeEditor.git
